@import 'node_modules/modern-normalize/modern-normalize.css';
@import 'styles/fonts.css';

/* @import 'styles/left_side.css'; //Не разнесено. это старое
@import 'styles/right_side.css'; */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.2rem;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "TT Commons", "Arial", sans-serif;
    color: rgb(255, 255, 255);
}

.main {
    display: flex;
    flex-direction: column;
    padding: 26px 40px 0 40px;
    min-height: 860px;
    background-color: rgb(0, 0, 0);
}

.logo__wrapper {
    display: flex;
    align-self: flex-end;
    width: 240px;
    height: 24px;
}

.main__wrapper {
    display: flex;
    gap: 3.1rem;
    height: 100%;
    min-height: 762px;
}

.left__side {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    width: 100%;
    max-width: 322px;
    flex: 1;
}

.my__card {
    width: 100%;
    max-width: 322px;
    flex: 1;
    background: #F51B1B;
}

.my__photo {
    height: auto;
    object-fit: cover;
    width: 100%;
    max-width: 322px;
    height: 355px;
}

.union {
    width: 60px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 322px;
    margin-top: -50px;
}

.briefly {
    display: flex;
    flex-direction: column;
    max-width: 322px;
    width: 100%;
    gap: 4rem;

    padding: 40px 24px;
    background-color: #F51B1B;
    border-radius: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 270px;
    width: 100%;
}

.contact {
    display: flex;
    max-width: 227px;
    width: 100%;
    gap: 1.6rem;
}

.contact img {
    max-width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}


/*----------------------------------------*/

.right__side {
    display: flex;
    flex-direction: column;
    max-width: 1008px;
    width: 100%;
}

.about__me {
    display: flex;
    flex-direction: column;
    max-width: 1008px;
    width: 100%;
    margin-top: 10px;
    gap: 3.2rem;
    flex: 1;
}

.introduction {
    max-width: 690px;
    width: 100%;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -1%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 48px 28px 0px 28px;
    border: 1px solid white;
    flex: 1;
}


.info__frame {
    display: flex;
    max-width: 565px;
    flex-wrap: wrap;
    gap: 7.2rem;
}

.edu__section {
    display: flex;
    flex-direction: column;
    gap: 7.2px;
}

.edu__item {
    flex-wrap: wrap;
}

hr {
    width: 100%;
    opacity: 0.4;
}

.skills__section {
    display: flex;
}

.skills__list {
    list-style-type: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
    flex-wrap: wrap;
}

/*FONTS*/
@font-face {
    font-family: 'TT Commons';
    src: local('TT Commons  Thin'), local('TT-Commons--Thin'),
        url('./fonts/TTCommons-Thin.woff2') format('woff2'),
        url('./fonts/TTCommons-Thin.woff') format('woff'),
        url('./fonts/TTCommons-Thin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Redcollar';
    src: local('Redcollar'), local('Redcollar'),
        url('./fonts/Redcollar.woff2') format('woff2'),
        url('./fonts/Redcollar.woff') format('woff'),
        url('./fonts/Redcollar.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@media (max-width: 1020px) {
    .info__frame {
        gap: 3rem;
    }
}

@media (max-width: 770px) {
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px 20px 60px 20px;
        background-color: rgb(0, 0, 0);
    }

    .logo__wrapper {
        width: 220px;
        height: 22px;
        align-self: flex-start;
    }

    .logo__wrapper img {
        width: 220px;
        height: 22px;
    }

    .main__wrapper {
        align-items: center;
        flex-direction: column;
    }

    .left__side {
        margin-top: 48px;
        align-items: center;
    }

    .card__wrapper {
        margin-top: -55px;
    }

    .briefly {
        width: 100%;
        gap: 3.2rem;
        padding: 24px 16px 40px 16px;
    }

    .name {
        gap: 0.4rem;
    }

    .contacts {
        gap: 1.6rem;
    }

    /*------------*/
    .info {
        width: 100%;
        padding: 41px 0px 30px 16px;
        gap: 2.4rem;
    }

    .info__frame {
        gap: 1.6rem;
    }

    .edu__section {
        gap: 1.2rem;
    }

    .skills__list {
        gap: 1.6rem;
    }
}