* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.2rem;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Montserrat", Arial, sans-serif;
    /* border: 1px solid aqua; */
}

.main {
    display: flex;
    flex-direction: column;
    padding: 26px 40px 0 40px;
    /* margin: 0 auto; */
    /* border: 1px solid rgb(255, 13, 0); */
    background-color: rgb(134, 142, 124);
}

.logo__wrapper {
    display: flex;
    align-self: flex-end;
    width: 240px;
    height: 24px;
}

.main__wrapper {
    display: flex;
    gap: 31px;
}

.my__card {
    width: 100%;
    max-width: 322px;
    height: 780px;
    background: #F51B1B;
}

.my__card img {
    height: auto;
    object-fit: cover;
    width: 100%;
    max-width: 322px;
    height: 355px;
}

.briefly {
    display: flex;
    flex-direction: column;
    max-width: 322px;
    width: 100%;
    gap: 40px;

    padding: 40px 24px;
    background-color: #F51B1B;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 270px;
    width: 100%;
}

.contact {
    display: flex;
    max-width: 227px;
    width: 100%;
    gap: 16px;
}

.contact img {
    max-width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}


/*----------------------------------------*/

.right__side {
    max-width: 1008px;
    width: 100%;
}

.about__me {
    display: flex;
    flex-direction: column;
    max-width: 1008px;
    width: 100%;
    margin-top: 10px;
    gap: 32px;
    /* height: 550px; */
    /* height: auto; */
    border: 1px solid red;
}

.introduction {
    max-width: 690px;
    width: 100%;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -1%;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 930px;
    width: 100%;
    gap: 20px;
    border: 1px solid white;

}

.info__frame {
    display: flex;
    max-width: 545px;
    /* height: 72; */
    flex-wrap: wrap;
    gap: 72px;


    border: 1px solid rgb(196, 71, 71);
}


.skills__section {
    display: flex;
}

.skills__list {
    list-style-type: none;
    display: flex;
    gap: 32px;
    align-items: center;
}