.left__side {
    /* display: flex;
    flex-direction: column; */
    max-width: 322px;
    width: 100%;
    /* height: fit-content; */
    margin-top: -10px;
}

.left__side img {
    display: block;
    width: 100%;
    height: auto;
}

.briefly {
    display: flex;
    flex-direction: column;
    /* max-width: 322px; */
    width: 100%;
    margin-top: -30px;
    border-radius: 24px 24px 0 0;
    min-height: 440px; 
    height: auto;  

    position: relative;
    z-index: 1;
    background-color: rgb(245, 27, 27);
}

.briefly img {
    max-width: 60px;
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
}

.briefly__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 322px;
    width: 100%;
    gap: 40px;

    padding: 40px 24px;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 233px;
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 270px;
    width: 100%;
}

.contact {
    display: flex;
    max-width: 227px;
    width: 100%;
    gap: 16px;
}

.contact img {
    max-width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}