.right__side {
    max-width: 1009px;
    width: 100%;
    height: 786px;
}

.right__side img {
    max-width: 100%;
    height: auto;
}

.frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    gap: 32px;
    height: 550px;
}

.introduction {
    max-width: 690px;
    width: 100%;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -1%;
}

.info {
    /* width: 100%; */
    height: fit-content;
    border: 1px solid rgb(255, 255, 255);
    padding: 48px 0 0 28px;
}

.info__wrapper {
    max-width: 930px;
    /* width: 100%; */
    /* min-height: 550px; */
    display: flex;
    flex-direction: column;

    /* margin-top: 48px;
    margin-left: 28px; */
    gap: 20px;
}

.info__frame {
    max-width: 600px;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    gap: 72px;
}

.edu__section {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    height: fit-content;
    gap: 8px;
}

.edu__item {
    /* max-width: 323px; */
    height: auto;
    /* flex-wrap: wrap; */
}


hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}


/* .skills__frame {
    max-width: 538px;
    display: flex;
    /* justify-content: space-between;
    flex-wrap: wrap;
    gap: 72px;
} */


.skills__list {
    display: flex;
    gap: 32px;

    list-style: none
}

.skills__list li {
    font-family: 'TT Commons', 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 24px;
}